# حساب مدیر امنا
# نام کاربری: amna
# رمز ورود: همان رمزی که هنگام تحویل پروژه تعیین شده است.
# رمز خام داخل پروژه ذخیره نشده و فقط هش bcrypt نگهداری می‌شود.
ADMIN_USERNAME=amna
ADMIN_PASSWORD_HASH=$2y$12$6HEqodM0mkLQPREgPSf8RuFwLFKlHlm6xI4vaVBWcxxmnURCgB48C
